{% extends "layout.html" %}
{% from 'macros.html' import render_page_title, render_campaign_steps, render_form, render_campaign_steps_search_engine %}

{% block title %}
    {{ configs.page_title | default_title }}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    {{ render_page_title(configs.module, configs.url_index, configs.action) }}

    {% if configs.campaign_type_name == 'banner' %}
        {{ render_campaign_steps(configs.campaign_id,'active','active','active','current','','','') }}
    {% elif configs.campaign_type_name == 'search_engine' %}
        {{ render_campaign_steps_search_engine(configs.campaign_id,'active','active','active','current','','','') }}
    {% endif %}

    <!-- BEGIN BASIC FORM ELEMENTS-->
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>&nbsp;</h4>

                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">

                        {{ render_form(form, action_url=url_for(configs.url, campaign_id=configs.campaign_id, campaign_step=configs.campaign_step), action_text='ثبت و ادامه' ,btn_class='btn btn-primary btn-cons') }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END BASIC FORM ELEMENTS-->
{% endblock %}

{% block js %}
{% endblock %}