<div class="col-lg-12">
    <div class="col-lg-12 p-b-20">
        <div class="col-lg-8 text-left">{{ user_bank_account.shaba_code }}</div>
        <div class="col-lg-4">کد شبا:</div>
    </div>
    <div class="col-lg-12 p-b-20">
        <div class="col-lg-8">{{ user_bank_account.bank_name }}</div>
        <div class="col-lg-4">نام بانک:</div>
    </div>
    <div class="col-lg-12 p-b-20">
        <div class="col-lg-8 text-left">{{ user_bank_account.bank_account_number }}</div>
        <div class="col-lg-4">شماره حساب:</div>
    </div>
    <div class="col-lg-12 p-b-20">
        <div class="col-lg-8 text-left">{{ user_bank_account.bank_card_number }}</div>
        <div class="col-lg-4">شماره کارت:</div>
    </div>
</div>