{% extends "frontend_layout.html" %}
{% block content %}
    <!-- Page Title
            ============================================= -->
    <section id="page-title" class="page-title-parallax page-title-dark"
             style="background-image: url('/static/frontend/images/teheranbanner.jpg'); padding: 120px 0;"
             >

        <div class="container clearfix">
            <h1>درباره ما</h1>
            <span>هماپلاس را در محصولاتش بشناسید</span>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('home') }}">صفحه اصلی</a></li>
                <li class="active">درباره ما</li>
            </ol>
        </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="divcenter center clearfix bottommargin-lg" style="max-width: 900px;">
                    <h1>درباره ما</h1>

                </div>

                <div class="col_full">

                    هماپلاس متشکل از جمعی از اساتید و دانش‌آموختگان ممتاز مهندسی کامپیوتر دانشگاه تهران و شریف است. شکاف
                    عمیق بین علم روز دنیا و محصولات موجود در دسترس ایرانیان، هماپلاسی‌ها را بر آن داشت تا با اتکا بر تیم
                    متخصص خود، محصولاتی مبتنی بر جدیدترین پیشرفت‌های روز دنیا را برای فارسی‌زبانان جهان فراهم آورند. هدف
                    هماپلاس این است که هیچ کاربر ایرانی برای درک حس راحت‌تر شدن روزافزون زندگی، نیازمند استفاده از
                    محصولات بیگانه نباشد.

                </div>

                <div class="divcenter center clearfix bottommargin-lg" style="max-width: 900px;">
                    <h1>حوزه‌های کاری</h1>
                    <h2>
                        هماپلاس در چندین شاخه فعالیت می کند
                    </h2>
                </div>


                <div class="col_one_third">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-screen i-alt"></i></a>
                        </div>
                        <h3>کلان‌داده</h3>
                        <p>
                            خزش و جمع‌آوری کلان‌داده به منظور انجام پردازش‌ها و تحلیل‌های بعدی، اساس فعالیت هماپلاس را
                            تشکیل می‌دهد.
                        </p>
                    </div>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-eye i-alt"></i></a>
                        </div>
                        <h3>داده‌کاوی و یادگیری ماشین</h3>
                        <p>
                            یکی از اصلی‌ترین حوزه‌های کاری هماپلاس، استفاده از روش‌های داده‌کاوی و یادگیری ماشین برای
                            تحلیل داده‌های متنی، عددی و گرافی با هدف استخراج دانش است.
                        </p>
                    </div>
                </div>

                <div class="col_one_third col_last">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-beaker i-alt"></i></a>
                        </div>
                        <h3>تبلیغات دیجیتال</h3>
                        <p>
                            هر ساله سهم بازار تبلیغات آنلاین نسبت به بازار تبلیغات سنتی با رشد بیشتری روبرو است. تبلیغات
                            سنتی مانند تبلیغ در روزنامه، مجلات و بیلبورد، هزینه بسیار زیاد و مخاطبان محدود دارند.
                            بزرگترین رقیب برای تبلیغات آنلاین، تبلیغات تلویزیونی است.
                        </p>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="col_one_third">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-stack i-alt"></i></a>
                        </div>
                        <h3>هوش تجاری</h3>
                        <p>
                            ارائه دانش استخراج‌شده از کلان‌داده در چارچوب داشبردهای مدیریتی سفارشی و سامانه‌های پشتیبان
                            تصمیم‌گیری، بخش دیگری از فعالیت‌های هماپلاس را شکل می‌دهد.
                        </p>
                    </div>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-tint i-alt"></i></a>
                        </div>
                        <h3>تحلیل رسانه‌های اجتماعی</h3>
                        <p>
                            یکی دیگر از حوزه‌های اصلی فعالیت هماپلاس، تحلیل داده‌های رسانه‌ها و شبکه‌های اجتماعی با هدف
                            ارائه سرویس‌های خبری عمومی و خصوصی است.
                        </p>
                    </div>
                </div>

                <div class="col_one_third col_last">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-text-width i-alt"></i></a>
                        </div>
                        <h3>پردازش زبان طبیعی</h3>
                        <p>
                            پردازش متن و زبان طبیعی با هدف ارائه خدمات و ابزارهای حرفه‌ای برای زبان فارسی، یکی دیگر از
                            حوزه‌های فعالیت هماپلاس است.
                        </p>
                    </div>
                </div>

                <div class="line"></div>


                <div class="divcenter center clearfix bottommargin-lg" style="max-width: 900px;">
                    <h1>محصولات</h1>
                    <h2>
                        هماپلاس را در محصولاتش بشناسید
                    </h2>
                </div>


                <div class="col_one_third">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-screen i-alt"></i></a>
                        </div>
                        <h3>هشتگ</h3>
                        <p>
                            هشتگ، سرویس خبر جویشگر ملی است. در این سامانه، داده‌های خبری خبرگزاری‌های رسمی کشور جمع‌آوری
                            شده و با استفاده از روش‌های داده‌کاوی و یادگیری ماشین در چارچوب سرویس‌های خبری متنوع در
                            اختیار کاربران عمومی قرار می‌گیرد. نسخه وب هشتگ به صورت رایگان منتشر شده است.
                        </p>
                    </div>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-eye i-alt"></i></a>
                        </div>
                        <h3>وابین</h3>
                        <p>
                            وابین، سرویس دیده‌بانی شبکه‌های اجتماعی است. در این سامانه، داده‌های عمومی شبکه‌های اجتماعی
                            مختلف مثل توییتر و تلگرام جمع‌آوری شده و با استفاده از روش‌های داده‌کاوی و یادگیری ماشین در
                            چارچوب سرویس‌هایی خاص‌منظوره در اختیار فعالان کسب و کارهای مختلف قرار می‌گیرد.
                        </p>
                    </div>
                </div>

                <div class="col_one_third col_last">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-beaker i-alt"></i></a>
                        </div>
                        <h3>هشتاد</h3>
                        <p>
                            هشتاد، سامانه تبلیغات هوشمندی است که قابلیت نمایش تبلیغات را بر روی بستر وب سایت ها و
                            موتورهای جستجو فراهم می کند. ارائه خدمات نوین پردازش متن از جمله قابلیت های این سامانه است.
                        </p>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="col_one_third">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-stack i-alt"></i></a>
                        </div>
                        <h3>ساهوما</h3>
                        <p>
                            ساهوما (سامانه هوشمند مالیاتی) دربرگیرنده کلیه قوانین و مقررات مالیاتی از جمله قانون
                            مالیات‌های مستقیم، قانون مالیات بر ارزش افزوده، سایر قوانین مرتبط، آیین نامه‌های اجرایی،
                            آرای هیات عمومی دیوان عدالت اداری، بخشنامه‌ها، ضوابط اجرایی و آیین نامه‌های مربوط است. نسخه
                            وب و اندروید ساهوما به صورت رایگان منتشر شده است.
                        </p>
                    </div>
                </div>

                <div class="col_one_third">
                    <div class="feature-box fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-tint i-alt"></i></a>
                        </div>
                        <h3>ساهوکا</h3>
                        <p>
                            ساهوکا (سامانه هوشمند کار و تامین اجتماعی) دربرگیرنده کلیه قوانین و مقررات کار و تامین
                            اجتماعی است. نسخه وب ساهوکا به صورت رایگان منتشر شده است.
                        </p>
                    </div>
                </div>


                <div class="clear"></div>


            </div>
        </div>
    </section>
{% endblock %}