{% extends "frontend_layout.html" %}
{% block content %}


    {% for i in range(30) %}


        <script type="text/javascript">
            !function (t, i) {
                "use strict";
                var e = {width: 970, height: 90, host: 63}, r = "http:";
                i.write('<div style="display:inline-block;max-width:' + e.width + "px;max-height:" + e.height + 'px;width:100%;height:auto;transform-origin: 100% 0px 0px;transform: scale(1);"><iframe src="' + r + "//click.8tad.ir/click/wp.sh?host_id=" + e.host + "&banner_width=" + e.width + "&banner_height=" + e.height + '" height="' + e.height + '" width="100%" height="' + e.height + 'px" frameborder="0" scrolling="no" style="background:url(' + r + '//8tad.ir/static/frontend/images/loader.gif) no-repeat center;"></iframe></div>')
            }(this, document);
        </script>

        
         <script type="text/javascript">
            !function (t, i) {
                "use strict";
                var e = {width: 120, height: 240, host: 63}, r = "http:";
                i.write('<div style="display:inline-block;max-width:' + e.width + "px;max-height:" + e.height + 'px;width:100%;height:auto;transform-origin: 100% 0px 0px;transform: scale(1);"><iframe src="' + r + "//click.8tad.ir/click/wp.sh?host_id=" + e.host + "&banner_width=" + e.width + "&banner_height=" + e.height + '" height="' + e.height + '" width="100%" height="' + e.height + 'px" frameborder="0" scrolling="no" style="background:url(' + r + '//8tad.ir/static/frontend/images/loader.gif) no-repeat center;"></iframe></div>')
            }(this, document);
        </script>


    {% endfor %}


{% endblock %}