{% extends "layout.html" %}
{% from 'macros.html' import render_form, render_page_title %}

{% block title %}
    {{ title | default_title }}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    {{ render_page_title(configs.module, configs.url_index, configs.action) }}
    <!-- BEGIN BASIC FORM ELEMENTS-->
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>&nbsp;</h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <br>
                    <div class="row">
                        {% if clicks or shows %}
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div dir="ltr" id="container" style="height: 400px; min-width: 310px"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <table class="table table-hover no-more-tables">
                                    <thead>
                                    <tr>
                                        <th>نمایش دهنده</th>
                                        <th>تعداد نمایش</th>
                                        <th>تعداد کلیک</th>
                                        <th>CTR</th>
                                        <th>عملیات</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for key,value in publisher_shows.items() %}
                                        <tr>
                                            <td class="text-right" dir="ltr">{{ key }}</td>
                                            <td>{{ value }}</td>
                                            <td>{% if key in  publisher_clicks %}{{ publisher_clicks[key] }}{% else %}0
                                            {% endif %}</td>
                                            <td>
                                                {% if key in  publisher_clicks %}
                                                    {% if value > 0 %}
                                                        {% set ctr = publisher_clicks[key] / value * 100 %}
                                                        {{ '%0.3f' % ctr|float }}%
                                                    {% else %}0
                                                    {% endif %}
                                                {% else %}0
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ url_for("advertiser_dashboard_daily_details", campaign_id=configs.campaign_id, day=configs.day) }}?url={{ key }}">جزئیات
                                                    کلیک</a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p class="text-center">
                                اطلاعاتی برای نمایش وجود ندارد.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END BASIC FORM ELEMENTS-->
{% endblock %}

{% block js %}
    {% if clicks or shows %}
        {% with tickInterval='tickInterval: 3600 * 1000,' %}
            {% include 'dashboard/chart/column.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}